.form-container{
    min-height: 100vh;
    h3{
        font-size: $title-h3;
        letter-spacing: .8rem;
        margin-block: 2rem;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .form__city{
            margin-block: 2rem;
            #cityName{
                outline: none;
                border: none;
                background-color: transparent;
                padding: 1rem 2rem;
                &:focus, &:focus-within{
                    border-bottom: 1px solid black;
                }
            }
        }
        #validation{
            padding: 1rem 2rem;
            outline: none;
            border: none;
            margin-top: 1rem;
            background-color: $test;
            color: $secondary-color;
            border-radius: .1rem;
            transition: .5s;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
    &__pictures{
        @include flex-display(row, wrap, center, center);
        gap: 1rem;
        .pictureRandomCity{
            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            filter: grayscale(1);
            transition: .5s;
            p{
                visibility: hidden;
                font-size: $paragraph;
                color: $primary-color;
            }
            &:hover{
                filter: grayscale(0);
                p{
                    transition: inherit;
                    visibility: visible;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}