// COLORS

$primary-color : #f4f3f0;
$secondary-color: #eae8e2;
$text-primary: #3c3936;
$test: #4296a0;

// FONTS
$font-family: Proxima Nova Rg, sans-serif;

// FONT SIZE
$title-h1: 5rem;
$title-h2: 3rem;
$paragraph: 1.5rem