@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/proximanova_regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #eae8e2;
  font-family: Proxima Nova Rg, sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title__section {
  text-transform: capitalize;
  text-align: center;
  font-size: 5rem;
  color: #3c3936;
}

header {
  padding: 1rem;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: calc(100vh - 80.67px);
}
.presentation__image {
  background-image: url("../images/bg.webp");
  border-radius: 50%;
  background-position: right;
  background-size: cover;
  width: 500px;
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.presentation__details {
  flex-basis: 400px;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.presentation__details__title {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.presentation__details__link {
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  background-color: #4296a0;
  color: #eae8e2;
  border-radius: 0.1rem;
  transition: 0.5s;
  text-transform: capitalize;
}
.presentation__details__link i {
  visibility: hidden;
  transition: inherit ease-in-out;
}
.presentation__details__link:hover {
  transform: scale(1.1);
}
.presentation__details__link:hover i {
  visibility: visible;
  transform: scale(1.2);
}

.form-container {
  min-height: 100vh;
}
.form-container h3 {
  font-size: 2.5rem;
  letter-spacing: 0.8rem;
  margin-block: 2rem;
}
.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-container form .form__city {
  margin-block: 2rem;
}
.form-container form .form__city #cityName {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
}
.form-container form .form__city #cityName:focus, .form-container form .form__city #cityName:focus-within {
  border-bottom: 1px solid black;
}
.form-container form #validation {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  margin-top: 1rem;
  background-color: #4296a0;
  color: #eae8e2;
  border-radius: 0.1rem;
  transition: 0.5s;
  cursor: pointer;
  text-transform: capitalize;
}
.form-container__pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-container__pictures .pictureRandomCity {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-container__pictures .pictureRandomCity p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=styles.css.map */
